<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Dashboard</title>
</head>
<body>
<section layout:fragment="header">
    <h1> My Dashboard</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<div layout:fragment="content">
    <div class="row">
        <div class="col-md-8">
            <canvas id="linechartContainer" width="700" height="300"></canvas>
        </div>
        <div class="col-md-4">
            <canvas id="piechartContainer" width="300" height="300"></canvas>
        </div>
    </div>
</div>
</body>
</html>
